.dish:not(.selected-dish) .dish-counter{
    display: none
}

.dish-counter {
    width: 47px;
    height: 19px;
    position: absolute;
    right: calc(11px - var(--selection-border));
    bottom: calc(14px - var(--selection-border));
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.minus {
    color: #CF2B2B
}

.plus {
    color: #32B72F
}